{% import "bootstrap/wtf.html" as wtf %}

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="../">title</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            {% for classify in classifys %}
                <li><a href="javascript:void(0)"
                       onclick="menu('{{ classify.id }}')">{{ classify.audio_classify_name }}</a>
                </li>
            {% endfor %}
            {#            <li class="active"><a href="#">menu1</a></li>#}
            {#            <li><a href="javascript:void (0)" onclick="menu(1)">menu2</a></li>#}
            {#            <li class="dropdown">#}
            {#                <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
            {#                    menu3#}
            {#                    <b class="caret"></b>#}
            {#                </a>#}
            {#                <ul class="dropdown-menu">#}
            {#                    {% for classify in classifys %}#}
            {#                        <li><a href="javascript:void(0)"#}
            {#                               onclick="menu('{{ classify.id }}')">{{ classify.audio_classify_name }}</a></li>#}
            {#                        <li class="divider"></li>#}
            {#                    {% endfor %}#}
            {#                </ul>#}
            {#            </li>#}
            {#            <li class="active"><a href="#">menu4</a></li>#}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">Link</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href={{ url_for("audio_manager") }}>audiomanager</a>
                    </li>
                    <li>
                        <a href={{ url_for("manager") }}>manager</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                                data-target="#add-youtube">
                            button
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</nav>

<div class="modal fade" id="add-youtube" tabindex="-1" role="dialog" aria-labelledby="add-youtube-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="add-youtube-label">Add Movie from YouTube</h4>
            </div>
            <form class="form" action="{{ url_for('add') }}" method="post" role="form">
                <div class="modal-body">
                    {{ yform.hidden_tag() }}
                    {{ wtf.form_errors(yform, hiddens="only") }}
                    {{ wtf.form_field(yform.yc) }}
                    {{ wtf.form_field(yform.yc2) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {{ wtf.form_field(yform.submit, class='btn btn-primary') }}
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% block scripts %}

    <script type="application/javascript">
        {#<div class="col-md-4 thumbnail">#}
        {#                   <h3 class="text-center">#}
        {#                       {{ ald.audio_info_title }}#}
        {#                   </h3>#}
        {#                   <image alt="Bootstrap Image Preview"#}
        {#                          src="{{ "http://www.520tingshu.com/"+ald.audio_info_preimg }}"#}
        {#                          class="img-thumbnail img-rounded"/>#}
        {#                   <dl>#}
        {#                       <dt class="text-center">#}
        {#                           {{ ald.audio_info_describe }}#}
        {#                       </dt>#}
        {#                       <dd>#}
        {#                           A description list is perfect for defining terms.#}
        {#                       </dd>#}
        {##}
        {#                   </dl>#}
        {#                   <a class="btn btn-info  active btn-block"#}
        {#                      href="{{ url_for('detail' ,audio_id=ald.id) }}">#}
        {#                       detail#}
        {#                   </a>#}
        {#               </div>#}

        function menu(id) {
            alert("id:" + id)
            $("#index_content").empty()
            $.post("../get_audio_classify", "{\"id\":" + id + "}", function (data) {
                    $.each(data, function (index, content) {
                        console.log("index:" + index, +"content.title:" + content.audio_info_title)
                        var div = $("<div class=\"col-md-4 thumbnail\"></div>")
                        var h3Title = $("<h3 class=\"text-center\"></h3>")
                        h3Title.text(content.audio_info_title)
                        var image = $("<image alt=\"Bootstrap Image Preview\" class=\"img-thumbnail img-rounded\"/>")
                        image.attr("src", "http://www.520tingshu.com/" + content.audio_info_preimg)
                        {#image.attr("src", "http://img.stone315.com/big/201505141605195526.png")#}
                        image.attr("width", "100%")
                        image.attr("height", "100%")
                        var dl = $("<dl></dl>")
                        var dt = $("<dt class=\"text-center\"></dt>")
                        dt.text(content.audio_info_describe)
                        var a = $("<a class=\"btn btn-info  active btn-block\"></a>")
                        a.attr("href", "../detail?audio_id=" + content.id)
                        a.text("detail")
                        dl.append(dt)
                        div.append(h3Title)
                        div.append(image)
                        div.append(dl)
                        div.append(a)
                        div.attr("height", "0px")
                        div.attr("padding-bottom", "100%")
                        $("#index_content").append(div)
                    })
                }
                ,
                "json"
            )
        }

    </script>
{% endblock %}