{% extends "_base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div class="row" id="index_content">
                    {% for ald in alds %}
                        <div class="col-md-4  thumbnail">
                            <h3 class="text-center">
                                {{ ald.audio_info_title }}
                            </h3>
{#                            <img alt="Bootstrap Image Preview" width="100%"#}
{#                                 height="100%"#}
{#                                 src="{{ "http://www.520tingshu.com/"+ald.audio_info_preimg }}"#}
                                    {#                                 src="http://img.stone315.com/big/201505141605195526.png"#}
{#                                 class="img-thumbnail img-rounded"/>#}
                            <dl>
                                <dt class="text-center">
                                    {{ ald.audio_info_describe }}
                                </dt>
                                <dd>
                                    A description list is perfect for defining terms.
                                </dd>

                            </dl>
{#                            <a class="btn btn-info  active btn-block"#}
{#                               href="{{ url_for('detail' ,audio_id=ald.id) }}">#}
{#                                detail#}
{#                            </a>#}
                        </div>
                    {% else %}
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>


{% endblock %}
